div.conteiner {
    background-color: #E6E6E6;
    border-radius: 20px;
    box-shadow: 0px 2px 5px #00000091;
    margin-bottom: 20px;
}

div.foto {
    display: flex;
    align-items: center;
    height: 600px;
}

div.icon {
    display: flex;
    margin: auto;
}

div.icon .img {
    width: 50%;
}

form {
    width: 100%;
    padding: 20px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}